.containerFooter {
    padding: 32px;
    background-color: rgb(37, 31, 31);
    display: flex;
    justify-content: space-between;
}

.logoFooter {
    width: 125px;
    height: 30px;
    display: flex;
}

.containerInfo {
    display: flex;
}

.linkStyling {
    text-decoration: none;
}

.containerSocials {
    display: flex;
}