.containerFooter {
    padding: 32px;
    background-color: #2b3035;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logoFooter {
    width: 150px;
    height: 30px;
    display: flex;
}

.containerInfo {
    display: flex;
}

.linkStyling {
    text-decoration: none;
}

.containerSocials {
    display: flex;
}
