.containerFooter {
    padding: 32px;
    background-color: rgb(37, 31, 31);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    

}

.logoFooter {
    width: 150px;
    height: 30px;
    display: flex;
}

.containerInfo {
    display: flex;
}

.linkStyling {
    text-decoration: none;
}

.containerSocials {
    display: flex;
}