.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLoginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */

.navbar-collapse{
    flex-grow: 0 !important;
}