.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
}

.btnLogin {
    border: 1px solid rgba(228, 228, 228, 0.445);
    background-color: rgba(228, 228, 228, 0.151);
    margin-top: 1rem;
    margin-bottom: 7rem;
    padding: 4px 12px;
    border-radius: 0.2rem;
}

p {
    margin-bottom: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLoginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */

.navbar-collapse{
    flex-grow: 0 !important;
}