.swiper-pagination {
    position: absolute;
    bottom: -4px !important; /* Modifica questo valore per spostare i pallini più in basso o più in alto */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.stiliSezioneAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}