.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 126px);
    
}

.background-register-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the whole area */

}

.h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
   }

.containerLoginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */

.navbar-collapse {
    flex-grow: 0 !important;
}

/* FIELD */

.stiliFieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stiliLegend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0;
    padding-top: 0.2rem;
}

#ruolo {
    background-color: #3B3B3B;
    width: 190.23px;
    height: 28.48px;
}

.btnRegistrati {
    border: 1px solid rgba(228, 228, 228, 0.445);
    background-color: rgba(228, 228, 228, 0.39);
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 4px 12px;
    border-radius: 0.2rem;
}

.paragraph {
    margin-bottom: 0.3rem;
}

#registerForm {
    /* border: 1px solid rgba(255, 255, 255, 0.219); */
    background-color:rgba(138, 136, 136, 0.205);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 500px;
}

.conntainerFooter {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.accedi-a {
    padding-bottom: 3rem;
}




