.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
   }

.containerLoginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */

.navbar-collapse {
    flex-grow: 0 !important;
}

/* FIELD */

.stiliFieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stiliLegend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0;
}

#ruolo {
    background-color: #3B3B3B;
}

.btnRegistrati {
    border: 1px solid rgba(228, 228, 228, 0.445);
    background-color: rgba(228, 228, 228, 0.151);
    margin-top: 3rem;
    margin-bottom: 7rem;
    padding: 4px 12px;
    border-radius: 0.2rem;
}

.paragraph {
    margin-bottom: 0.3rem;
}