/* Layout Flexbox */
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
.adminBtn{
    margin-top: 7px;
    display: flex;
    border: none;
    align-items: bottom;
    background-color: #1D1D1D;
    font-size: 20px;
    padding-left: 2rem;
}
.wrapper {
    flex: 1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2b3035 !important;
    color: white !important;
    font-family: "Lora" !important;
}


/* NAVBAR */

.navbar {
    background: #1d1d1d !important;
}

#home {
    padding-left: 2rem;
    font-size: 20px;
}

#login {
    padding-left: 2rem;
    font-size: 20px;
}

.dropdown {
    padding-left: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-brand {
    font-size: 4rem !important;
    padding-bottom: 1rem !important;
}

.container-fluid {
    display: flex;
    --bs-gutter-x: 4rem !important;
    --bs-gutter-y: 1rem !important;
}

.navbar-collapse {
    flex-basis: 0%;
    flex-grow: 0 !important;
    align-items: baseline;
}

/* Altri stili */

.containerTwo {
    position: relative;
    z-index: 2; 
    margin-top: 7vh; 
}

/* SWIPER */

.card-body {
    padding-bottom: 3rem !important;
    border-radius: 0 !important;
    background-color: #1D1D1D
}

.swiper-pagination {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding-bottom: 0.5rem !important;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: .5rem;
}

#bottoneInfo {
    background-color: #1D1D1D;
    color: white;
    border: 1px solid #a5a5a58f;
}

.swiper-button-next {
    color: white !important;
}

.swiper-button-prev {
    color: white !important;
}

.card {
    border: 1px solid #a5a5a58f !important;
    border-radius: .5rem;
}

.card-body {
    background-color: #1D1D1D;
    /* border: 1px solid white; */
}

/* Stili personalizzati per il video di sfondo */

.background {
    background-size: cover;
    background-image: url('/ProjectWork-Team1/img/video_hero.mp4');
    width: 100%;
    height: auto;
    position: relative;
}

.container_video {
    margin: 0;
    width: 100%;
}

.background-clip {
    width: 100%;
}

.video-background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 90px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fadeInLeft 2s, transformAnimation 2s;
    display: flex;
    justify-content: center;
    align-items: start;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* FOOTER */

.containerFooter {
    padding: 32px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
    transform: translateZ(0);
}

.logoFooter {
    width: 150px;
    height: 30px;
    display: flex;
}

.containerInfo {
    display: flex;
}

.noBarraLink {
    text-decoration: none;
}

.containerSocials {
    display: flex;
}

.fonteIcone {
    text-decoration: none;
    
}

/* LOGIN */

.contenitore-login {
    background-color: rgba(138, 136, 136, 0.308);
    backdrop-filter: blur(10px);
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 0.4rem;    
}

.titoloLogin {
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.btnLogin {
    border: 1px solid rgba(255, 255, 255, 0.445);
    background-color: rgba(163, 163, 163, 0.39);
    margin-top: 1rem;
    margin-bottom: 7rem;
    padding: 4px 12px;
    border-radius: 0.2rem;
}

.nonRegistered {
    margin-bottom: 0;
}

.videoLoginBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.registrati-a {
    padding-bottom: 3rem;
}

/* REGISTER */

.container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 126px);
}

.background-register-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the whole area */
}

.titoloRegistrati {
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.inputRegister {
    border-radius: 0.2rem;
    background-color: #3B3B3B;
    border: 0.9px solid #858585;
}

.containerLoginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIELD */

.stiliFieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stiliLegend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0;
    padding-top: 0.2rem;
}

#ruolo {
    background-color: #3B3B3B;
    width: 190.23px;
    height: 28.48px;
    border-radius: 0.2rem;
}

.btnRegistrati {
    border: 1px solid rgba(228, 228, 228, 0.445);
    background-color: rgba(228, 228, 228, 0.39);
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 4px 12px;
    border-radius: 0.2rem;
}

.paragraph {
    margin-bottom: 0.3rem;
}

.registerForm {
    background-color: rgba(138, 136, 136, 0.308);
    backdrop-filter: blur(10px);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 500px;
    border-radius: 0.4rem;
}

.conntainerFooter {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.accedi-a {
    padding-bottom: 3rem;
}

/* MEDIA QUERY */

@media only screen and (max-width: 2500px) {
    .content {
        margin-top: 5rem;
        margin-left: 25%;
        font-size: 130px;
    }

    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }

}

@media only screen and (max-width: 1240px) {
    .content {
        margin-top: 5rem;
        margin-left: 32%;
        font-size: 60px;
    }

    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin-top: 5rem;
        margin-left: 35%;
        font-size: 40px;
    }
}

@media only screen and (max-width: 425px) {
    .content {
        margin-top: 0.5rem;
        margin-left: 28%;
        font-size: 30px;
    }

    .containerFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerFooterLogo,
    .containerInfo {
        margin-bottom: 20px; /* Spazio tra le sezioni */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerInfo a{
        margin: 5px 0; /* Spazio tra i link e le icone */
    }

    .fonteIcone a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenitore-login {
        width: 60%;
    }

    .videoLoginBg {
        display: none;
    }
    

    #registerForm {
        width: 60%;
    }

    .video-background {
        display: none;
    }
}






#container-swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MISSION */

#hero {
    margin-top: 7rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.title {
    background-color: #a5a5a58f;
    /* background-color: #1D1D1D; */
    padding: 4rem;
    display: flex;
    border-radius: 0.2rem;
}

.titolo-p {
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
}

.puttana-p {
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}

.contenitore-titolo {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
}

.testo-p {
    margin-left: 10rem;
    margin-bottom: 0;
    text-align: end;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}


@media only screen and (max-width: 985px){
    .contenitore-titolo {
        align-items: center;
    }

    .title {
        flex-direction: column;
        align-items: center;
        
    }
    
    .testo-p {
        margin-left: 0;
        text-align: center;
        
    }
}


@media only screen and (max-width: 768px){
    .brAnnullato {
        display: none;
    }
}

@media only screen and (max-width: 480px){

#hero {
    margin-top: 0.5rem;
    padding-top: 0;
}

/* Limita la larghezza e altezza delle card */
.card {
    max-width: 250px; /* Imposta la larghezza massima */
    margin: 0 auto; /* Centra la card */
}

.swiper-slide {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Per garantire che le immagini si adattino alle dimensioni delle card */
.card img {
    width: 100%;
    height: auto; /* Mantiene il rapporto d'aspetto */
    max-height: 100px; /* Imposta l'altezza massima*/
}

.card-body {
    padding: 1rem !important; /* Riduce il padding */
    background-color: #1D1D1D;
}

.swiper-button-next:after, .swiper-button-prev::after {
    font-size: 30px;
}

    .title {
        padding: 50px;
    }

    .puttana-p {
        font-size: 25px;
    }

    .titolo-p {
        font-size: 50px;
        
    }

    .testo-p {
        font-size: 15px;
    }

    
}

