/*
body {
    background-color: #302d2d!important;
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

}

.navbar-brand{
    font-size: 4rem !important;
}

.container-fluid{
    display: flex;
}

.navbar-collapse {
    flex-basis: 0%;
    flex-grow: 0 !important;
    align-items: baseline;
}
*/

/* SWIPER  */

.swiper-pagination {
    position: absolute;
    bottom: -4px !important; /* Modifica questo valore per spostare i pallini più in basso o più in alto */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}
.navbar-collapse{
    flex-grow: 0 !important;
}