/* Layout Flexbox */
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    flex: 1;
}

.dropdown {
    padding-left: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

#login {
    padding-left: 2rem;
    font-size: 20px;
}

#home {
    padding-left: 2rem;
    font-size: 20px;
}

/* Altri stili*/
body {
    background-color: #2b3035 !important;
    color: white !important;
    font-family: "Lora" !important;
}

/* Altri stili */
.navbar-brand {
    font-size: 4rem !important;
    padding-bottom: 1rem !important;
}



.container-fluid {
    display: flex;
    --bs-gutter-x: 4rem !important;
    --bs-gutter-y: 1rem !important;
}

.navbar-collapse {
    flex-basis: 0%;
    flex-grow: 0 !important;
    align-items: baseline;
}

/* .containerOne {
    position: relative;
    height: 100vh; 
} */

.containerTwo {
    position: relative;
    z-index: 2; 
    margin-top: 7vh; 
}

/* SWIPER */
.card-body {
    padding-bottom: 3rem !important;
    border-radius: 0 !important;
    background-color: #1D1D1D
}


.swiper-pagination {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding-bottom: 0.5rem !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.card img {
    width: 100%;
    height: 200px;
}

/* Stili personalizzati per il video di sfondo */
.background {
    background-size: cover;
    background-image: url('/ProjectWork-Team1/img/video_hero.mp4');
    width: 100%;
    height: auto;
    position: relative;
}

.container_video {
    margin: 0;
    width: 100%;
}

.background-clip {
    width: 100%;
}

.video-background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 90px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fadeInLeft 2s, transformAnimation 2s;
    display: flex;
    justify-content: center;
    align-items: start;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* MEDIA QUERY */
@media only screen and (max-width: 2500px) {
    .content {
        margin-top: 5rem;
        margin-left: 50rem;
        font-size: 130px;


    }

}

@media only screen and (max-width: 2200px) {
    .content {
        margin-top: 5rem;
        margin-left: 43rem;
        font-size: 130px;


    }

}

@media only screen and (max-width: 1900px) {
    .content {
        margin-top: 10rem;
        margin-left: 36rem;
        font-size: 100px;
    }

}

@media only screen and (max-width: 1690px) {
    .content {
        margin-top: 12rem;
        margin-left: 30rem;
        font-size: 90px;
    }
}

@media only screen and (max-width: 1390px) {
    .content {
        margin-top: 9rem;
        margin-left: 25rem;
        font-size: 60px;
    }
}
@media only screen and (max-width: 1240px) {
    .content {
        margin-top: 9rem;
        margin-left: 22.5rem;
        font-size: 60px;
    }
}

@media only screen and (max-width: 1090px) {
    .content {
        margin-top: 6rem;
        margin-left: 20rem;
        font-size: 45px;
    }
}

@media only screen and (max-width: 868px) {
    .content {
        margin-top: 5rem;
        margin-left: 15rem;
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin-top: 5rem;
        margin-left: 15rem;
        font-size: 40px;
    }
}

@media only screen and (max-width: 668px) {
    .content {
        margin-top: 5rem;
        margin-left: 10rem;
        font-size: 35px;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        margin-top: 2rem;
        margin-left: 6.5rem;
        font-size: 30px;
    }
}






/* SWIPER */
/* #container-swiper {
    position: relative;
    transform: translateY(-100px);
    z-index: 1;
} */

#bottoneInfo {
    background-color: #1D1D1D;
    color: white;
    border: 1px solid #a5a5a58f;
}

.swiper-button-next {
    color: white !important;
}

.swiper-button-prev {
    color: white !important;
}

.card {
    border: 1px solid #a5a5a58f !important;
}

.card-body {
    background-color: #1D1D1D;
    /* border: 1px solid white; */
}



@media only screen and (max-width: 2500px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 2200px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 2000px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 1900px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 1680px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 1480px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 1240px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 1100px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 980px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 768px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}

@media only screen and (max-width: 480px){
    #container-swiper {
        position: relative;
        transform: translateY(-250px);
        z-index: 1;
    }
}




/* MISSION */

.title {
    background-color: #a5a5a58f;
    /* background-color: #1D1D1D; */
    padding: 4rem;
    display: flex;

}

#hero {
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

.titolo-p {
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
}

.puttana-p {
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}

.contenitore-titolo {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
}

.testo-p {
    margin-left: 10rem;
    margin-bottom: 0;
    text-align: end;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

@media only screen and (max-width: 768px){
    .brAnnullato {
        display: none;
    }
}

@media only screen and (max-width: 985px){
    .contenitore-titolo {
        align-items: center;
    }
}

@media only screen and (max-width: 985px){
    .title {
        flex-direction: column;
        align-items: center;
        
    }
}

@media only screen and (max-width: 985px){
    .testo-p {
        margin-left: 0;
        text-align: center;
        
    }
}


