
body {
    background-color: #302d2d!important;
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

}



.navbar-brand {
    font-size: 4rem !important;
    /* padding: 0 !important; */
    padding-bottom: 1rem !important;
}

.container-fluid {
    display: flex;
    --bs-gutter-x: 4rem !important;
    --bs-gutter-y: 1rem !important;
}

.navbar-collapse {
    flex-basis: 0%;
    flex-grow: 0 !important;
    align-items: baseline;
}




/* SWIPER */

.card-body {
    padding-bottom: 3rem !important;
}

.swiper-pagination {
    position: absolute;
    bottom: 0 !important; /* Modifica questo valore per spostare i pallini più in basso o più in alto */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding-bottom: 0.5rem !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.card img {
    width: 100%;
    height: 200px;
}
/* Stili personalizzati per il video di sfondo */

.background {
    background-size: cover;
    background-image: url('/ProjectWork-Team1/img/video_hero.mp4');
    width: 100%;
    height: auto;
    position: relative;
}

.container_video {
    margin: 0;
    width: 100%;
}

.background-clip{
    width: 100%;
}

.video-background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: absolute;
    z-index: 1;
    color: white;
    /* transform: translate(10rem, 23rem); */
    /* margin-top: 15rem; 
    margin-left: 5rem; */
    font-size: 90px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fadeInLeft 2s, transformAnimation 2s ;
                    
}   


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: Overlay semi-trasparente */
    z-index: 0;
}



/* MEDIA QUERY  */

@media only screen and (max-width: 2500px) {
    .content {
        margin-top: 18rem; 
        margin-left: 8rem;
        font-size: 130px;
    }
    }

@media only screen and (max-width: 1900px) {
    .content {
        margin-top: 15rem; 
        margin-left: 8rem;
        font-size: 100px;
    }
    }

@media only screen and (max-width: 1500px) {
    .content {
        margin-top: 12rem; 
        margin-left: 8rem;
        font-size: 90px;
    }
    }


@media only screen and (max-width: 1240px) {
    .content {
        margin-top: 9rem; 
        margin-left: 4rem;
        font-size: 60px;
    }
    }


@media only screen and (max-width: 920px) {
    .content {
        margin-top: 8rem; 
        margin-left: 3rem;
        font-size: 45px;
    }
    }


@media only screen and (max-width: 800px) {
    .content {
        margin-top: 7rem; 
        margin-left: 3rem;
        font-size: 40px;
    }
    }


@media only screen and (max-width: 680px) {
    .content {
        margin-top: 6rem; 
        margin-left: 2rem;
        font-size: 35px;
    }
    }


@media only screen and (max-width: 500px) {
    .content {
        margin-top: 4rem; 
        margin-left: 1.5rem;
        font-size: 30px;
    }
    }


@media only screen and (max-width: 390px) {
    .content {
        margin-top: 3rem; 
        margin-left: 1.5rem;
        font-size: 25px;
    }
    }